.title{
    font-size: 30px;
    margin: 30px 0 20px 0;
    text-align: center 
}

.background {
    position: relative; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.row {
    display:flex;
    justify-content: space-evenly;
    background-color: black;
}

.space {
    margin-top: 7%;
    background-color: black;
}

.main-left-side{
    position: relative;
    z-index: 1;
    width: 75%;
    height: 100%;
    padding: 20px;
    background-color: black;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 200px); /* 2 rows */
    column-gap: 50px; /* No horizontal gap */
    row-gap: 250px;
    justify-items: center; 
    align-items: center;
    background-color: aqua;
  }
  
.video-box {
    position: relative;
    width: 100%; /* Use 100% of grid cell */
    max-width: 355px; /* Maximum size */
    min-width: 200px;
    height: 350px;
    background-color: #233C67; 
    border-radius: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
  }

.name-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 200px); 
    column-gap: 50px;
    row-gap: 240px; 
    margin-left: 20px;
    justify-items: center;
    z-index: 1;
}

.name-box {
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: 355px;
    min-width: 200px;
    height: 50px;
    background-color: #222222;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    border: 1px solid white;
    border-color:white;
    font-size: 20px;
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-box:hover {
    background-color: #555555; 
}

.name-box-set {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 355px;
    min-width: 200px;
    height: 50px;
    background-color: #222222;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    border: 1px solid white;
    border-color:white;
    font-size: 20px;
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.expression-grid {
    display: grid; 
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(2, 200px); 
    column-gap: 50px;
    row-gap: 240px; 
    margin-top: -585px;
    margin-left: 20px;
    justify-items: center;
    position: relative; 
    z-index: 1;
}

.expression-box-1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 355px;
    min-width: 200px;
    height: 50px; 
    background-color: #960018; 
    color: white;
    text-align: center;
    margin-top: 0; 
    border-radius: 10px;
    padding-top: 5px; 
    font-size: 20px; 
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.expanded-pfp {
    height: 100%;
    width:70%;
    margin:auto;
    background-color: #222222;
    color:black;
}


.expression-box-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 355px;
    min-width: 200px;
    height: 50px; 
    background-color: #228B22; 
    color: white;
    text-align: center;
    margin-top: 0; 
    padding-top: 5px; 
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.black-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    min-width: 400px;
    height: 100%;
    background-color: #233C67;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inner-title-box {
    background-color: lightgray; 
    color: black; 
    font-weight:bold;
    width: 95%;
    height: 10%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px; 
    margin-left: 15px;
    margin-top: 15px;
    font-size: 24px; 
    font-family: 'Kaleko', Geneva;
}

.inner-student-box {
    background-color: lightgray; 
    color: black; 
    width: 95%;
    height: 22%; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    margin-left: 15px;
    margin-top: 7px;
    font-size: 24px; 
    font-family: 'Kaleko', Geneva;
    overflow: hidden;
}

.classification-text{
    padding:10px;
    font-size: 50px; 
}

.student-text-title {
    color: black;
    width: 130%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    display: block;
    font-size: 100%;
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.student-text-box {
    color: black;
    width: 130%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    display: block;
    font-size: 100%;
    font-family: 'Kaleko', Geneva;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.inner-expression-box {
    background-color: lightgray;
    color: black;
    width: 95%;
    height: auto;
    min-height: 57%;
    position: relative;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 24px;
    font-family: 'Kaleko', Geneva;
    padding: 15px;
    overflow: hidden;
}

.submit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #222222;
    width: 120px; 
    color: white;
    border: none;
    padding: 12px 20px; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 10px; 
    margin-left:50%;
    margin-top:10%;
    z-index: 2; 
}

.submit-button:hover {
    background-color: #555555; 
}

.student-names {
    position: absolute;
    left: 0; 
    top: 75px;
    width: 85%;
    bottom: 15px;
    margin-left: 30px;
    padding: 0;
    border-radius: 8px;
    gap: 10px;
    overflow: hidden;
}

.student-entry {
    display: flex;
    align-items: center; 
    margin-bottom: 8px; 
}


.bottom-bar {
    width:100%;
    height:90px; 
    background-color: black; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 1000; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.zoom-menu-container {
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.zoom-menu-bar {
    height: 100%;
    width: 100%; 
    z-index: 1;
}

.end-button {
    position: absolute; 
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background-color: #960018;
    width: 100px; 
    color: white;
    border: none;
    padding: 12px 15px; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 10px; 
    z-index: 2; 
}

.return-home{
    background-color: #222222;
    width: 300px; 
    color: white;
    border: none;
    padding: 12px 20px; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 10px; 
    margin-top:100%;
    z-index: 2; 
}

.return-home:hover {
    background-color: #555555
}

.end-button:hover {
    background-color: #E55451; 
}

.left-column{
    width: 40%;
    margin-left: 5%;
    border: 3 px solid salmon;
}

.right-column{
    width: 50%;
    margin-left: 5%;
    border: 3 px solid green;
}

t {
    font-size: 20px;
}

.button-container {
    display: inline-block;
    padding: 4px 4px;
    width: 75%;
    margin-top: 20px;
    margin-left: 13%;
    
  }


.btn-1{
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(108, 209, 108);
    color: black;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    
}


.btn-2{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    background-color:rgb(180, 177, 177);
    color: black;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    
}

.back-button {
    background-color: #222222;
    width: 120px; 
    color: white;
    border: none;
    padding: 12px 20px; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 10px; 
    margin-left:50%;
    margin-top:30%;
    z-index: 2; 
}

.instr{
    margin-top: 20px;
}

.img-frame{
    height: 350px;
    width: 450px;
    padding: 8px 8px;
    border: 3px solid #4472C4;
}

#canvas {
    width:2000px;
    height:2000px;
    border: 10px solid transparent;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}


.img-frame{
    height: 450px;
    width: 550px;
    padding: 8px 8px;
    border: 3px solid #4472C4;
    margin-left: calc(50% - 208px);
}

.image-inner{
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    object-fit: contain
}


.stage{
    position: absolute;
}

.prediction-container{
    text-align: left;
    font-size: 16px;
    width: 75%;
    background-color: rgba(216, 160, 55, 0.632);
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-container {
    padding: 4px 4px;

    margin-left: 13%;
    display: inline-block;
    
}

.instr{
    margin-top: 20px;
    width: 80%;
}

.pop-container{
    margin-left: 5%;
    width: 100%;
    height: 80%
}

  
  .student-text {
    font-size: 12px;
    margin-right: 10px; 
  }

  .video-box {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden; 
}

.video-thumbnail {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    object-position: center; 
}

  
  
  